---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h1>{ SITE_TITLE }</h1>

	<input 
	aria-hidden="true" 
	aria-label="Toggle main menu"
	type="checkbox" 
	id="menustate" />

	<nav role="navigation" aria-label="main navigation">
		<label for="menustate" aria-hidden="true" title="Toggle the main navigation">
		  <span class="open" aria-label="Open main menu">≡</span>
		</label>
	  
		<ul>
		  	<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/work">Work</HeaderLink></li>
			<li><HeaderLink href="/blog">Blog</HeaderLink></li>
			<li><HeaderLink href="/speaking">Speaking</HeaderLink></li>
			<li><HeaderLink href="/history">History</HeaderLink></li>
			<li><HeaderLink href="/about">About</HeaderLink></li>
			<li>
				<label for="menustate" aria-hidden="true" title="Toggle the main navigation">
				  <em aria-label="Close main menu">×</em>
				</label>
			  </li>
			  </ul>
	</nav>
</header>
