---
import Layout from "../../layouts/RegularPage.astro";
---


<Layout
	title="Privacy"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("September 07 2024")}
	widthType="singlecolumn"
>

<p>This website does not collect any personal data. I don't want it. It does not set any cookies and it does not use any third-party client tracking scripts. It hardly runs any clientside javascript at all, <abbr title="To Be Hypertext">TBH</abbr>.</p>

<h4>HTTPS</h4>
<p>This website transmits itself using HTTPS, encrypting all data between the browser and the server. Your network provider may still be able to see that you are loading this site, but not their content.</p>


</Layout>